.BaseChat {
  &[data-chat-visible='false'] {
    --workbench-inner-width: 100%;
    --workbench-left: 0;

    .Chat {
      --at-apply: bolt-ease-cubic-bezier;
      transition-property: transform, opacity;
      transition-duration: 0.3s;
      will-change: transform, opacity;
      transform: translateX(-50%);
      opacity: 0;
    }
  }

  &[data-chat-started='true'] {
    --textarea-max-height: 400px;
  }

  &[data-chat-started='false'] {
    --textarea-max-height: 200px;
  }
}

.Chat {
  opacity: 1;
}

.PromptEffectContainer {
  --prompt-container-offset: 50px;
  --prompt-line-stroke-width: 1px;
  position: absolute;
  pointer-events: none;
  inset: calc(var(--prompt-container-offset) / -2);
  width: calc(100% + var(--prompt-container-offset));
  height: calc(100% + var(--prompt-container-offset));
}

.PromptEffectLine {
  width: calc(100% - var(--prompt-container-offset) + var(--prompt-line-stroke-width));
  height: calc(100% - var(--prompt-container-offset) + var(--prompt-line-stroke-width));
  transform: translate(
    calc(var(--prompt-container-offset) / 2 - var(--prompt-line-stroke-width) / 2),
    calc(var(--prompt-container-offset) / 2 - var(--prompt-line-stroke-width) / 2)
  );
  fill: transparent;
  stroke-width: var(--prompt-line-stroke-width);
  stroke: url(#line-gradient);
  stroke-dasharray: 35px 65px;
  stroke-dashoffset: 10;
}

.PromptShine {
  fill: url(#shine-gradient);
  mix-blend-mode: overlay;
}

.chatTextarea {
  min-height: 76px;
  max-height: var(--textarea-max-height, 400px);

  &[data-drag-active="true"] {
    border: 2px solid #1488fc;
  }

  &[data-drag-active="false"] {
    border: 1px solid var(--bolt-elements-borderColor);
  }
}
